body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: rgba(0, 0, 0, 0.15);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#all {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#all>div {
    flex-grow: 1;
    display: none;
}

#navBar {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

#navBar>div {
    padding: 1rem;
    flex-grow: 1;
    text-align: center;
}

#topBar {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
}

#topBar>#title {
    flex-grow: 1;
}

#lists {
    display: flex;
    flex-direction: column;
}

#roomList>div {
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#generateRoomForm {
    display: none;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#roomNameInput {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 5rem;
    margin: 0.1rem;
    width: 13rem;
    height: 2rem;
}

input:focus {
    outline: none;
}

#roomNameSummit {
    background: #333;
    border: none;
    padding: 0 1rem;
    border-radius: 5rem;
    outline: none;
    color: #fff;
    height: 2rem;
    line-height: 2rem;
    width: 5rem;
    text-align: center;
}

#friendList>div {
    border-radius: 1.5rem;
    background-color: rgba(0, 0, 0, 0.15);
    height: 4rem;
    padding: 0.8rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
}

#profilesImage {
    border-radius: 1rem;
    background-color: rgb(85, 85, 85);
    width: 4rem;
    height: 4rem;
}

#profilesChatName {
    margin-left: 1rem;
    flex-grow: 1;
}

@media (min-width: 599px) {
    body {
        flex-direction: row-reverse;
    }
    #navBar {
        display: block;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-top: none;
    }
    #navBar>div {
        margin-top: 1rem;
        padding: 1rem;
        text-align: center;
    }
}